@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Міксин для шрифту (щоб не писати 3 рядки кожен раз)
@mixin font-style($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}